<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <title>쉬, 바로 고!</title>

   	<link rel="stylesheet" href="/css/common.css"
</head>

<body>
    <!-- 헤더 -->
    <nav class="navbar">
        <div class="nav-container">
            <div class="navbar-title">

                <h1>쉬, 바로 고! 🚽💦  <h1>
                <br>
                <h5>제주도의 모든 공중화장실을 쉽고 빠르게🧻 </h5>

            </div>
      
        </div>
    </nav>

    <!-- 지도 -->
    <main>
        <div id="map"></div>

        <!-- 화장실 정보창 모달 -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <div class="modal-body">
                    <div class="modal-image">
                        <img id="modalImage" src="" alt="화장실 사진">
                        <div class="arrow-buttons">
                            <button id="prevButton" class="arrow-button">&#9664;</button>
                            <button id="nextButton" class="arrow-button">&#9654;</button>
                        </div>
                    </div>
                    <div class="modal-info" id="modalInfo">
                        <!-- 정보 -->
                        <div id="infoContent"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 지도 줌 컨트롤러 / 현위치-->
        <div class="map-control-view">
            <div id="zoomControl"></div>

            <button id="moveToCurrentLocation"></button>
        </div>
    </main>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9004ec8ff09853175348491ab03925fb">
    </script>
	<script src="/js/map.js"></script>
</body>
</html>